{% extends 'base.html' %}

{% block app_content %}

<script>
    var colors = {{ colors | tojson | safe }};
    var squares = Object.keys(colors);

    generate_new_square = function() {
       var new_square = squares[Math.floor(Math.random() * Math.floor(64))];
       document.getElementById('square').innerHTML = new_square;
    };

    check_color = function(input) {
        var square = document.getElementById('square').innerHTML
        var right_response = colors[square];
        if (right_response == input){
            var response = 1;
        } else {
            var response = -1;
        }
        
        scores = scores.concat(response).slice(1, 13);
        squares_score = squares_score.concat(square).slice(1, 13);
        update_score_bar(scores, squares_score);

        generate_new_square();

    }
</script>


<div class="row">
    <h3>Choose the color of the square</h3>
</div>


<div class="row" style="padding-bottom:20px;">
    <div class="col-lg-5 col-sm-5 col-md-5 col-md-5"></div>
    <div class="col-lg-2 col-sm-2 col-md-2 col-md-2">
        <button class="btn btn-secondary" id="square" style="width:100%">a1</button>
    </div>
    <div class="col-lg-5 col-sm-5 col-md-5 col-md-5">
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12 col-md-12">
        <div class="card-deck">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/chesspieces/wikipedia/bP.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">The square is white.</h5>
                    <p class="card-text text-muted">Click here if you think that the square is white.</p>
                    <a href="#" onclick="check_color(1); return false;" class="btn btn-dark col-12">Choose</a>
                </div>
            </div>
            <div class="card text-white bg-dark" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/chesspieces/wikipedia/wP.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">The square is dark.</h5>
                    <p class="card-text text-muted">Click here if you think that the square is dark.</p>
                    <a href="#" onclick="check_color(0); return false;" class="btn btn-light col-12">Choose</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include '_score_bar.html' %}


{% endblock %}