{% extends 'base.html' %}

{% block app_content %}
<div class="row">
    <h1>BlindFold Chess Trainer</h1>
</div>
<div class="row">
    <p class="text-muted">
        This website contains several exercises to train chess visualization skills.

</div>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12 col-md-12">
        <div class="card-deck">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/chesspieces/wikipedia/wP.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Colors</h5>
                    <p class="card-text text-muted">Find what color the squares are.</p>
                    <a href="/colors" class="btn btn-dark">Exercise</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/chesspieces/wikipedia/bB.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bishop Moves</h5>
                    <p class="card-text text-muted">Find where the bishop can move.</p>
                    <a href="/bishop_moves" class="btn btn-dark">Exercise</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/chesspieces/wikipedia/wN.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Knight Moves I</h5>
                    <p class="card-text text-muted">Find where the knight can move.</p>
                    <a href="/knight_moves" class="btn btn-dark">Exercise</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-top:5%">
    <div class="col-lg-12 col-sm-12 col-md-12 col-md-12">
        <div class="card-deck">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/chesspieces/wikipedia/bN.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Knight Moves II</h5>
                    <p class="card-text text-muted">Find where the knight can move in two steps.</p>
                    <a href="/knight_moves2" class="btn btn-dark">Exercise</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/chesspieces/wikipedia/wQ.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Games</h5>
                    <p class="card-text text-muted">Reproduce games from PGN.</p>
                    <a href="/games" class="btn btn-dark">Exercise</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/reverse_black_king.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">More exercises</h5>
                    <p class="card-text text-muted">More exercises to come.</p>
                    <a href="#" class="btn btn-dark disabled">To come...</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}