{% extends 'base.html' %}

{% block app_content %}
<!--<script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>-->
<!--<script>-->
<!--var Chessground = require(["/static/chessground"]).Chessground;-->
<!--</script>-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
    integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU" crossorigin="anonymous">
<script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
    integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
    crossorigin="anonymous"></script>
<div class="row">
    <h1>Lol</h1>
</div>
<div class="row">
    <div class="col-lg-6 col-sm-6 col-md-6 col-md-6">
        <div id="myBoard" class="board" style="width: 100%"></div>
        <div id="pgn" style="display:none;"></div>
    </div>
    <div class="col-lg-6 col-sm-6 col-md-6 col-md-6">
        <div class="form-group row">
            <label for="number-input" class="col-6 col-form-label">Number of moves per step</label>
            <div class="col-6">
                <input class="form-control" type="number" value="3" id="number-input">
            </div>
        </div>
        <div class="row">
            <button class="btn btn-dark" style="width:100%" onclick="generate_next_moves();">Generate next moves
                PGN</button>
        </div>
        <div class="row">
            <button class="btn btn-light" style="width:100%" onclick="create_new_game();">New Game</button>
        </div>
        <div class="row" style="margin-top:10%">
            <div class="card" style="width:100%;">
                <div class="card-header">
                    <div class="card-title">
                        Moves <span style="float:right"><span id="number-of-steps">0</span>/<span
                                id="total-number-of-steps">100</span> </span>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" id="old-pgn-container"></li>
                        <li class="list-group-item" id="new-pgn-container"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var board = Chessboard('myBoard',
        {
            position: 'start',
            dropOffBoard: 'trash',
            draggable: true,
            moveSpeed: 'slow',
            snapbackSpeed: 500,
            snapSpeed: 100,
            pieceTheme: '/static/img/chesspieces/wikipedia/{piece}.png'
        })

    var pgn_of_the_current_game = [];
    var fens_of_the_current_game = [];

    var socket = io();

    update_fens_of_the_current_game = function (new_fens) {
        fens_of_the_current_game = new_fens;
    }

    update_pgn_of_the_current_game = function (new_pgn) {
        pgn_of_the_current_game = new_pgn;
    }

    update_number_of_steps = function (nb_steps) {
        document.getElementById('number-of-steps').innerHTML = nb_steps;
    }

    update_total_number_of_steps = function (total_nb_of_steps) {
        document.getElementById('total-number-of-steps').innerHTML = total_nb_of_steps;

    }

    clean_pgn_containers = function () {
        clean_old_pgn_container();
        clean_new_pgn_container();
    }

    clean_old_pgn_container = function () {
        update_container('old-pgn-container', '');
    }

    clean_new_pgn_container = function () {
        update_container('new-pgn-container', '');
    }

    update_container = function (id_of_the_container, value) {
        document.getElementById(id_of_the_container).innerHTML = value;
    }

    set_new_game_data = function (pgn_of_the_new_game, fens_of_the_new_game) {
        update_pgn_of_the_current_game(pgn_of_the_new_game);
        update_fens_of_the_current_game(fens_of_the_new_game);
        update_number_of_steps(0);
        update_total_number_of_steps(pgn_of_the_new_game.length);
        clean_pgn_containers();
    }

    correct_game_position = function(nb_steps){
        var current_fen = fens_of_the_current_game[nb_steps];
        board.position(current_fen);
    }

    update_pgn = function(next_pgn){
        console.log('update_pgn')
        var old_pgn = document.getElementById('old-pgn-container').innerHTML;
        var old_new_pgn = document.getElementById('new-pgn-container').innerHTML;
        old_pgn = old_pgn + ' ' + old_new_pgn;
        update_container('old-pgn-container', old_pgn);
        update_container('new-pgn-container', next_pgn);
    }

    generate_next_moves = function(){
        console.log('generate_next_moves')
        var steps_step = parseInt(document.getElementById('number-input').value);
        var nb_steps = parseInt(document.getElementById('number-of-steps').innerHTML);
        console.log(steps_step)
        console.log(nb_steps)
        var next_pgn = pgn_of_the_current_game.slice(nb_steps, steps_step + nb_steps).join(' ');
        document.getElementById('number-of-steps').innerHTML = nb_steps + steps_step;
        update_pgn(next_pgn);
    }

    socket.on('new_game_render',
        function (data) {
            console.log(data);
            pgn_of_the_new_game = data['pgn'];
            fens_of_the_new_game = data['fens'];
            set_new_game_data(pgn_of_the_new_game, fens_of_the_new_game)
            correct_game_position(0);
        }
    )

    create_new_game = function () {
        socket.emit('new_game_visualization');
        
    }

</script>


{% endblock %}