{% extends 'base.html' %}

{% block app_content %}
<!--<script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>-->
<!--<script>-->
<!--var Chessground = require(["/static/chessground"]).Chessground;-->
<!--</script>-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<link rel="stylesheet"
      href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
      integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU"
      crossorigin="anonymous">
<script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
        integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
        crossorigin="anonymous"></script>
<div class="row">
    <h1>Lol</h1>
</div>
<div class="row">
    <div class="col-lg-6 col-sm-6 col-md-6 col-md-6">
        <div id="myBoard" class="board" style="width: 100%"></div>
        <div id="pgn" style="display:none;"></div>
    </div>
    <div class="col-lg-6 col-sm-6 col-md-6 col-md-6">
        <div class="form-group row">
            <label for="number-input" class="col-6 col-form-label">Number of moves per step</label>
            <div class="col-6">
                <input class="form-control" type="number" value="3" id="number-input">
            </div>
        </div>
        <div class="row">
            <button class="btn btn-dark" style="width:100%" onclick="generate_new_moves_button();">Generate next moves PGN</button>
        </div>
        <div class="row">
            <button class="btn btn-default" style="width:100%" onclick="create_new_game();">Other Game</button>
        </div>
        <div class="row" style="margin-top:10%">
            <div class="card" style="width:100%;">
                <div class="card-header">
                    <div class="card-title">
                        Moves <span style="float:right"><span id="steps">0</span>/<span id="total_steps">100</span> </span>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" id="past-pgn"></li>
                        <li class="list-group-item" id="new-pgn"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var board = Chessboard('myBoard',
    {
    position: 'start',
    dropOffBoard: 'trash',
    draggable: true,
    moveSpeed: 'slow',
    snapbackSpeed: 500,
    snapSpeed: 100,
    pieceTheme: '/static/img/chesspieces/wikipedia/{piece}.png'
  })

  var pgn = [];
  var fens = [];
  var fen = '';

var socket = io();

socket.on('new_game_render',
    function(data){
        pgn = data['pgn'];
        fens = data['fens']
        fen = '';
        console.log(data);
        document.getElementById('total_steps').innerHTML = data['fens'].length;
        document.getElementById('steps').innerHTML = 0;
        document.getElementById('past-pgn').innerHTML = '';
        document.getElementById('new-pgn').innerHTML = '';
        board.start();
    }
)

create_new_game = function(){
    socket.emit('new_game_viz');

}

generate_new_moves_button = function(){
    var nb_moves = document.getElementById('number-input').value;
    nb_moves = parseInt(nb_moves);
    generate_new_moves(nb_moves);
}

correct_position = function(){
    board.position(fen);
}


generate_new_moves = function(nb_moves) {

    old_pgn = document.getElementById('old-pgn');
    new_pgn = document.getElementById('new-pgn');

    if (pgn.length == 0) {
        console.log('pgn vide')
        create_new_game();
    }
    var steps = document.getElementById('steps').innerHTML;
    steps_num = parseInt(steps);
    if (steps_num > pgn.length) {
        console.log('new game');

        create_new_game();
    }
    correct_position();
    var new_moves = pgn.slice(steps_num, steps_num + nb_moves);

    fen = fens[(steps_num + nb_moves) * 2 ];

    document.getElementById('steps').innerHTML = steps_num + nb_moves;
    document.getElementById('past-pgn').innerHTML = document.getElementById('past-pgn').innerHTML + ' ' + document.getElementById('new-pgn').innerHTML
    document.getElementById('new-pgn').innerHTML = new_moves.join(' ');
}


</script>


{% endblock %}